.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    background-color: #FFB26B;
    height: 116px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .items {
    display: flex;
  }
  
  .items h3 {
    padding-right: 30px;
  }

  h1 {
    font-size: 40px;
    padding-left: 20px;
  }