html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 100ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.testSection {
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  background-color: #FFB26B;
  height: 116px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items {
  display: flex;
}

.header-link {
  padding-right: 30px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
}

h1 {
  font-size: 40px;
  padding-left: 20px;
}

.runbt {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #FFB26B;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: auto;
}