.historySidebar {
    position:fixed;
    overflow-y: auto;
    width: 400px;
    height: 85%;
    background-color: white;
    border-style: solid;
    border-width: 0 3px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.historySidebar h2 {
    margin: 0;
}

.historySidebar ul {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background-color: #252b36;
    width: 100vw;
    height: 88vh;
    padding-top: 116px;
    

}
.page {
    padding-left: 400px;
    background-color: white;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%
    padding-bottom: 216px;
}

.page p {
    padding: 0;
    width: 100%;
    word-break: break-all;
    white-space: normal;
}

.filterContainer {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.record {
    padding: 100px;
    flex: 1; 
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record button {
    width: 100px;
    height: 50px;
    background-color: #ffb26b;
    font-color: black;
}

.runningText {
    font-size: 30px;
    font-style: italic;
}

#left  {
    border-right: 2px solid black;
}

.pageElement {
    border-radius: 20px;
    background-color: black;
}