/* Test.css */
.container {
    display: flex; /* Use flexbox for layout */
}
  
.sidebar {
    display: flex;
    /* width: 25%; */
    flex-direction: column;
}

.modelPage {
    flex: 0 0 33.33%; /* Model page takes up one-third of the container horizontally */
    padding: 2em; /* Example padding */
    background-color: #e0e0e0; /* Example background color */
}

.sidebar button {
    width: 70%;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: auto; /* shifts button right */
    border-radius: 0; /* makes square not rounded */

    text-align: right;
    font-weight: bold;
    font-size: x-large;

    background-color: #FFB26B;
}

.datasetSelection {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 50%;
    margin-bottom: auto;
    text-align: right;
}

.sidebar input[type="radio"] {
    margin-right: 5px;
}

.longLine {
    height: 3px; /* Line height */
    width: 80%; /* Line width */
    background-color: black; /* Color of the line */
    margin-left: auto; /* Shift right */
    margin-bottom: 10px; /* Spacing between the line and radio buttons */
  }
  
.emptyDiv {
    flex: 1; /* Empty div fills the remaining space */
}