/* Test.css */
.container {
    display: flex; /* Use flexbox for layout */
}
  
.sidebar {
    display: flex;
    width: 25%;
    flex-direction: column;
}

.modelPage {
    flex: 0 0 33.33%; /* Model page takes up one-third of the container horizontally */
    padding: 2em; /* Example padding */
    background-color: #e0e0e0; /* Example background color */
}

.sidebar button {
    display: block;
    width: 70%;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    border-radius: 0;

    text-align: right;
    font-weight: bold;

    background-color: #FFB26B;
}
  
.emptyDiv {
    flex: 1; /* Empty div fills the remaining space */
}